<style>
.saw {
  color:gray;
}
a {
  color:orange;
  text-decoration: none
}
h1 {
  font-size:45px;
  text-align:center;
  border-bottom:1px solid gray;
  margin:0;
  padding:20px;
}
#grid{
  display: grid;
  grid-template-columns: 1fr 4fr;
}
#grid ol {
  border-right: 1px solid gray;
  margin: 0;
  padding-top: 20%;
  padding-left: 30%;
}
#grid #article{
  padding-top: 5%;
  padding-left: 20%;
}
@media(max-width:1000px){
    h1 {
      border-bottom:none;
    }
  #grid{
  display: block;
  }
  #grid ol {
    border-right: none;
    padding-top: 5%;
    padding-left: 22%;
  }
}
</style>
